.input-container {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
label {
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
}

.user-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.user-input:focus {
    border-color: #007bff;
}

.styled-button.playboard-button {
    background-color: #2fd190;
    color: #fff;
}

.styled-button.playboard-button:hover {
    background-color: #166b45;
  }

/* Accept Style */
.accept {
    background-color: #4caf50; /* Green */
    color: #fff;
    border: 1px solid #388e3c;
    padding: 10px;
    border-radius: 4px;
  }
  
  /* Reject Style */
  .reject {
    background-color: #f44336; /* Red */
    color: #fff;
    border: 1px solid #d32f2f;
    padding: 10px;
    border-radius: 4px;
  }
  
  /* Soft-Accept Style */
  .soft-accept {
    background-color: #ff9800; /* Orange */
    color: #fff;
    border: 1px solid #f57c00;
    padding: 10px;
    border-radius: 4px;
  }
  
  