.state {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.state-container {
  display: flex;
  align-items: center;
}

.state-label {
    background-color: #f5f5f5;
    text-align: center;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    margin-top: -5px;

}

.state-command {
    background-color: #ffec99;
    text-align: center;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.regular-state{
    background-color: #ffec99; /* Light yellow background color */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #333; /* Double border for accept state */
    border-radius: 50%;
    padding: 10px;
}

.accept-state {
  border: 10px double #333; /* Double border for accept state */
  padding: 5px;
}