/* Styling for the state circle */
.state-circle {
  fill: #ffec99;
  stroke: #000; 
  stroke-width: 4; 
}

/* Styling for the state name text */
.state-text {
  fill: #000;
  font-family: Arial, sans-serif;
  font-size: 18px;
}


/* Styling for the label text */
.label-text {
  stroke: white;
  stroke-width: 0.5em;
  fill: #000;
  font-family: Arial, sans-serif;
  font-size: 18px;
  paint-order:stroke; 
  stroke-linejoin:round
}

.transition-text {
  font-family: "Arial";
  font-size: 20px; 
  fill: "black";
  text-anchor: "start"
}