/* Styling for the state circle */
.state-circle {
  fill: #ffec99;
  stroke: #000; 
  stroke-width: 4; 
}

/* Styling for the state name text */
.state-text {
  fill: #000;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.state-circle.highlighted {
  fill: #4d349f;
  stroke: #000; 
  stroke-width: 4; 
}

/* Styling for the label text */
.label-text {
  stroke: white;
  stroke-width: 0.5em;
  fill: #000;
  font-family: Arial, sans-serif;
  font-size: 18px;
  paint-order:stroke; 
  stroke-linejoin:round
}

.transition-text {
  font-family: "Arial";
  font-size: 20px; 
  fill: "black";
  text-anchor: "start"
}


.transition-arrow {
  font-family: "Arial";
  font-size: 30px; 
  fill: "black";
  text-anchor: "start"
}

.hoverable {
  transition: fill 0.3s; /* Smooth transition on hover */
}

/* Hover styles */
.hoverable:hover {
  stroke: blue; /* Change the fill color on hover */
}

.tooltip {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  z-index: 999;
  pointer-events: none; /* This allows the mouse events to pass through the tooltip */
  font-size: 14px;
}